<clientConfig version="1.1">
  <emailProvider id="{{mailbox.domain}}">
    <domain>{{mailbox.domain}}</domain>
    <displayName>{{mailbox.domain}}</displayName>
    <displayShortName>make email sexy again</displayShortName>
    <incomingServer type="imap">
      <hostname>imap.{{mailbox.domain}}</hostname>
      <port>993</port>
      <socketType>SSL</socketType>
      <authentication>password-cleartext</authentication>
      <username>%EMAILLOCALPART%</username>
    </incomingServer>
    <incomingServer type="pop3">
      <hostname>pop3.{{mailbox.domain}}</hostname>
      <port>995</port>
      <socketType>SSL</socketType>
      <authentication>password-cleartext</authentication>
      <username>%EMAILLOCALPART%</username>
    </incomingServer>
    <outgoingServer type="smtp">
      <hostname>smtp.{{mailbox.domain}}</hostname>
      <port>587</port>
      <socketType>STARTTLS</socketType>
      <authentication>password-cleartext</authentication>
      <username>%EMAILLOCALPART%</username>
    </outgoingServer>
    <documentation url="https://mailbox.sexy">
      <descr lang="es">Configurar cliente de correo</descr>
      <descr lang="en">Configure e-mail client</descr>
    </documentation>
  </emailProvider>
</clientConfig>
