# alpine doesn't build postfix with icu
# smtputf8_enable = no

# These options allow postfix to make local DNS queries and don't look
# for MX records which the .onion addresses won't have.
smtp_host_lookup = native
ignore_mx_lookup_error = yes
smtp_dns_support_level = enabled

# Only allow authenticated relays
smtpd_relay_restrictions = permit_sasl_authenticated,defer_unauth_destination

# Read the hostname from the tor hostname file we copy over to the
# volume
myhostname = {{mailbox.domain}}
mydomain = $myhostname
mydestination = $mydomain /var/spool/postfix/hostname.cf

# TODO IPv6
inet_protocols = ipv4
inet_interfaces = all

# Store everything locally
home_mailbox = Maildir/
recipient_delimiter = +

# Accept email for local users
local_recipient_maps = unix:passwd.byname $alias_maps
# canonical_maps = hash:/etc/postfix/canonical

# Remove these headers
message_drop_headers = {{postfix.drop_headers | join(' ')}}

# Authenticate senders with dovecot
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous
smtp_sasl_security_options = noanonymous
broken_sasl_auth_clients = yes
smtpd_sasl_local_domain = $myhostname
smtpd_sasl_authenticated_header = no
