# Daemonize
RunAsDaemon 1
# Write a pid file
PidFile {{tor.pid_file}}
# Write to syslog
Log notice syslog

# mailbox.sexy hidden service
HiddenServiceDir {{tor.hostname_dir}}

# Ports for e-mail
HiddenServicePort 25  mailbox_postfix:25
HiddenServicePort 587 mailbox_postfix:587
#HiddenServicePort 993 mailbox_dovecot:993
#HiddenServicePort 995 mailbox_dovecot:995

# these options allow to send traffic to tor transparently using
# iptables
DNSPort 0.0.0.0:{{tor.dns_port}}
VirtualAddrNetworkIPv4 {{tor.virtual_network}}
AutomapHostsOnResolve 1
TransPort 0.0.0.0:{{tor.transparent_port}}
