#!/bin/sh
set -e

dir=/etc/ssl/private
dovecot=/etc/ssl/dovecot

install -dm 2750 -o root -g root ${dir}
cd ${dir}

# Link certificate to where dovecot expects to find them
ln -s ../{{mailbox.domain}}.key ${dovecot}/server.key
ln -s ../{{mailbox.domain}}.crt ${dovecot}/server.pem

# Generate a private key
certtool --generate-privkey \
  --outfile {{mailbox.domain}}.key
# Generate a self-signed certificate
certtool --generate-self-signed \
  --template /etc/template.cfg \
  --load-privkey {{mailbox.domain}}.key \
  --outfile {{mailbox.domain}}.crt
