organization = "mailbox.sexy"
unit = "mailbox"
state = "Cyberspace"
country = "IN"
cn = "mailbox.sexy"
dc = "{{mailbox.domain}}"
dc = "*.{{mailbox.domain}}"
expiration_days = -1
signing_key
encryption_key
