server:
  verbosity: 0
  port: 53
  do-daemonize: yes
  access-control: 127.0.0.0/8 allow
  access-control: 172.17.0.0/16 allow
  interface: 0.0.0.0
  do-ip6: no
  username: unbound
  use-syslog: yes
  pidfile: /run/unbound.pid

  root-hints: /etc/unbound/root.hints
  trust-anchor-file: "/usr/share/dnssec-root/trusted-key.key"

# Hardening
  hide-identity: yes
  hide-version: yes
  harden-large-queries: yes
  harden-glue: yes
  harden-short-bufsize: yes
  harden-dnssec-stripped: yes
  harden-below-nxdomain: yes
  harden-algo-downgrade: yes
  qname-minimisation: yes
  private-address: 10.0.0.0/8
  private-address: 172.16.0.0/12
  private-address: 192.168.0.0/16
  private-address: 169.254.0.0/16
  private-address: fd00::/8
  private-address: fe80::/10
  private-address: ::ffff:0:0/96
  minimal-responses: yes

# RFC7686 says DNS resolvers shouldn't answer to .onion queries, so we
# have to enable them again
  domain-insecure: "onion"
  private-domain: "onion"
  do-not-query-localhost: no
  local-zone: "onion." nodefault

remote-control:
  control-enable: yes
  control-use-cert: no

# Forward .onion queries to tor daemon
forward-zone:
  name: "onion"
  forward-host: {{mailbox_tor.stdout}}@{{tor.dns_port}}
